#ignore file created
/CorePatterns/.vs/CorePatterns/FileContentIndex/5a4b2bc6-20e2-4494-a8ca-c76adcc19bf0.vsidx
/CorePatterns/.vs/CorePatterns/FileContentIndex
/CorePatterns/.vs/CorePatterns/DesignTimeBuild
/CorePatterns/CorePatterns.ConsoleApp/bin/Debug/net8.0
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/apphost.exe
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.AssemblyInfo.cs
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.AssemblyInfoInputs.cache
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.csproj.CoreCompileInputs.cache
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.csproj.FileListAbsolute.txt
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.dll
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.genruntimeconfig.cache
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.pdb
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/CorePatterns.ConsoleApp.sourcelink.json
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/ref/CorePatterns.ConsoleApp.dll
/CorePatterns/CorePatterns.ConsoleApp/obj/Debug/net8.0/refint/CorePatterns.ConsoleApp.dll
/CorePatterns/.vs/CorePatterns/v17/.suo
/CorePatterns/.vs/CorePatterns/v17/DocumentLayout.backup.json
/CorePatterns/.vs/CorePatterns/v17/DocumentLayout.json
